<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Tambah Pegawai</title>

<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/pegawai.js}"></script>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar(active='tambah-pegawai')"></nav>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-2"></span>
			<div class="col-md-7">
				<div class="card">
					<div class="card-header" >Tambah Pegawai</div>
					<div class="card-body">
						<form th:fragment="form-pegawai" th:action=@{/pegawai/tambah} method="POST" th:object=${pegawai}>
							<div th:include="~{fragments/form :: form-pegawai}"></div>
							<div class="form-group">
								<div class="float-right">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>